body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fb;
  margin: 0;
  text-align: center;
}

.topo {
  background-color: #0d6efd;
  color: white;
  padding: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #084298;
}